#headpart{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}
#headpart img{
    width:150px;
}
#headpart nav ul{
    display:flex;
    gap:80px;
    
}
#headpart #btn1{
    display: flex;
    justify-content: center;
    align-items: center;
     gap:30px;
}
a{
    color: rgba(53, 1, 1, 0.91);
    font-size: 20px;
    text-decoration: none;
}
.para1{
    color:rgba(53, 1, 1, 0.91);
    font-size: 20px; 
}

.btn1{
    width:150px;
    height: 40px;
    align-items: center;
    border: 1px solid rgba(53, 1, 1, 0.91);
    border-radius: 20px;
    background-color:rgba(53, 1, 1, 0.91);
    color: whitesmoke;
    
}

ul{
    list-style: none;
}

/* header code ends */

#home-page{
    width:100%;
    height:100vh;
    border:1px solid black;
    display:flex;
    flex-direction: column;
    background-color: rgb(242, 229, 211);
}

#home{
    padding:100px 100px 100px 50px;
    display:flex;
    justify-content: space-between;
    
}
#home-page img{
    width:500px;
    display:flex;
    align-items: flex-end;
    border-radius: 50%;
}
.heading1{
    font-size: 50px;
    font-family: sans-serif;
}
.para2{
    font-size: 20px;
}
.btn2{
    height:50px;
    width:150px;
    border: 1px solid rgba(53, 1, 1, 0.91);
    background-color:rgba(53, 1, 1, 0.91);
    color:rgb(242, 229, 211);
    font-size: 20px;
}

/* first page completed */


#about-us{
    width:100%;
    height:100vh;
    border:1px solid black;
    display:flex;
    justify-content: space-between;
    background-color: rgba(250, 239, 241, 0.88);

}
#about{
    display:flex;
    
     justify-content: space-between;
     gap:600px;
     padding: 100px 0px 0px 100px;
}
.about1{
    
    width:500px;
    height:500px;
    padding-top:50px ;
    

}
.about1 img{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
.about2{
   
    width:500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    
    
}
.heading2{
    font-size: 40px;
    text-decoration: underline;
    color: rgb(93, 31, 31);
}
.para3{
    text-align: justify;
    font-size: 20px;
    text-align: justify;
    
}











